* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(13, 15, 44);
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 0.1fr 0.2fr;
  grid-template-areas:
    "jugador1        jugador1        titulo          titulo          jugador2        jugador2"
    "memory-game     memory-game     memory-game     memory-game     memory-game     memory-game"
    "memory-game     memory-game     memory-game     memory-game     memory-game     memory-game"
    "memory-game     memory-game     memory-game     memory-game     memory-game     memory-game"
    "memory-game     memory-game     memory-game     memory-game     memory-game     memory-game"
    "btn             btn             btn             btn             btn             btn"
    "footer          footer          footer          footer          footer          footer";

  width: 100%;
  height: 100vh;
}
#titulo {
  grid-area: titulo;
  padding: 5px;
  margin: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#jugador1 {
  grid-area: jugador1;
  margin: 5px;
  border: solid 2px white;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#jugador2 {
  grid-area: jugador2;
  margin: 5px;
  border: solid 2px white;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#regresar {
  grid-area: btn;
}
footer {
  grid-area: footer;
  border: solid black 1px;
  color: white;
}
#scoreP1,
#scoreP2 {
  margin-left: 10px;
}
#welcome {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px white;
  height: 100vh;
}
.memory-game {
  grid-area: memory-game;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  perspective: 1000px;
}

.memory-card {
  margin: 5px;
  position: relative;
  width: 160px;
  height: 160px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
img {
  width: 160px;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.front-face {
  transform: rotateY(180deg);
}
[hidden] {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  img {
    width: 100px;
  }
  .memory-card {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 500px) {
  img {
    width: 80px;
  }
  .memory-card {
    width: 80px;
    height: 80px;
  }
}
